.wrapper{
    min-height: 100vh;
    background: rgb(16, 16, 16);
    color: rgb(218, 214, 214);
}
.main
{
    min-height: calc(100vh - 110px);
}

.table, tr, th, td {
    background: transparent !important;
    color: white !important;
}
.in{
    color: #198754 !important;
}
.out{
    color: red !important;
}